# System File
.DS_Store
._.DS_Store

# IDE Files
# Sometimes I use Intellij for its' full-text search feature
.idea

# NPM Managed Packages
node_modules

# Destination directory
# dist

# Qiniu(shells, configurations)
qiniu.sh
