.container {
  margin: 20px;
  padding: 0 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  border: 1px solid #ccc
  border-radius: 10px;

  min-height: 90px;

  .title-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .title {
      font-weight: bold;
      font-size: 25px;
    }

    .created-date {
      font-size: 15px;
      font-weight: lighter;
      color: #ccc;
      vertical-align: center;
    }
  }

  .summary {

  }
}
