.container-list {
  max-width: 800px;
  margin: 0 auto;

  border-bottom: 1px dashed #ccc;
}

.post {
  padding: 35px 25px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  &:hover {
    background-color: #fafafa;
  }

  .left {
    width: 40%;
    margin-right: 40px;

    .title {
      font-size: 20px;
      font-weight: bold;
      line-height: 1.4;
      margin-bottom: 15px;
    }

    .created-date {
      font-size: 13px;
      font-weight: lighter;
      color: #ddd;
    }
  }


  .summary {
    width: 60%;
    font-size: 15px;
    line-height: 1.7;

    .markdown-body {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
